* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../image/fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.clear {
  clear: both;
}

#sec-lateral {
  width: 30%;
  height: 100%;
  align-items: center;
  position: fixed;
  background-color: rgb(222, 185, 104);
  text-align: center;
}

#sec-lateral .container {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

#sec-lateral .foto img {
  width: 70%;
  border: 4px solid whitesmoke;
  border-radius: 50%;
}

#sec-lateral .menu {
  padding: 5px 4%;
  text-align: center;
  color: whitesmoke;
  letter-spacing: 2.4px;
  font-size: 1rem;
}

#sec-lateral .alignImage {
  padding: 10px 2%;
}

#sec-lateral .alignImage img {
  width: 100%;
  height: 100%;
  max-width: 48px;
  max-height: 48px;
  text-align: center;
  opacity: 0.6;
}

#sec-convite {
  height: 100%;
  left: 34%;
  padding: 10px 2%;
  position: absolute;
  letter-spacing: 2.4px;
  word-spacing: 2.4px;
}

#sec-convite .container {
  top: 50%;
  position: relative;
  transform: translateY(-60%);
}

#sec-convite .box-one {
  font-family: 'Dancing Script', cursive;
  padding-top: 150px;
  display: flex;
justify-content: center;
  font-size: 4rem;
}
#sec-convite .box-one-one {
  font-family: 'Dancing Script', cursive;

  display: flex;
justify-content: center;
  font-size: 3rem;
}

#sec-convite .box-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;

}

#sec-convite .box-two-two {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;

}

#sec-convite .box-two-three {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;

}

#sec-convite .box-two-one {
  font-size: 1.7rem;
  display: flex;
  font-family: 'Dancing Script', cursive;
  padding-top: 50px;
  justify-content: center;
}
#sec-convite .box-two-four {
  font-size: 1.7rem;
  display: flex;
  font-family: 'Dancing Script', cursive;
  padding-top: 30px;
  justify-content: end;
}

#sec-convite .box-three {
  margin-right: 4%;
  padding: 24px 2%;
  float: right;
}

#sec-convite .box-three button {
  padding: 8px 8px;
  font-size: 17px;
  font-weight: bold;
  border: 1px solid rgb(116, 108, 11);
  background-color: rgb(213, 198, 33);
  letter-spacing: 1.5px;
  cursor: pointer;
}

/**Mobile**/
@media (max-width: 768px) {
  #sec-lateral {
    width: 30%;
  }

  #sec-lateral .foto img {
    width: 90%;
  }


  #sec-convite .box-one {
    padding-top: 7px;
    font-size: 1.8rem;
  }


  #sec-convite .box-one-one {
    font-family: 'Dancing Script', cursive;
    font-size: 1.6rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  #sec-convite .box-two {
    font-size:  1.3rem;
    font-family: 'Dancing Script', cursive;
    padding-left: 2px;
    padding-right: 20px;
  }
  
  #sec-convite .box-two-two {
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
    padding-left: 1px;
    padding-right: 10px;
  
  }
  
  #sec-convite .box-two-three {
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
    padding-left: 1px;
    padding-right: 10px;
  
  }
  
  #sec-convite .box-two-one {
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
    padding-top: 5px;
    padding-left: 1px;
    padding-right: 8px;
    display: flex;
    text-align: center;
    
  }
  #sec-convite .box-two-four {
    font-size: 1.2rem;
    font-family: 'Dancing Script', cursive;
    padding-left: 20px;
    padding-right: 1px;
  }
  #sec-convite .box-three {
    margin-right:40%;
    padding: 24px 2%;
    float: right;
    
  }
  
  #sec-convite .box-three button {
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid rgb(116, 108, 11);
    background-color: rgb(213, 198, 33);
    letter-spacing: 1px;
    cursor: pointer;
  }
  
}
